{% extends 'base.html' %}
{% block title %}Contatos{% endblock title %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
            <h1 class="text-center mt-4 mb-3">Contatos</h1>
        </div>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <dl>
                        <dt>Telefone</dt>
                        <dd>21 971-906677</dd>
                    </dl>
                    <address>
                        <strong>Endereço</strong>
                        <br>Rua Paissandu Rj</br>
                        <abbr
                                title="CEP">CEP:</abbr> 22210-085
                    </address>
		        </div>
            </div>
		</div>
	</div>
</div>
{% endblock content %}