{% extends 'base.html' %}
{% block title %}Galeria Site{% endblock title %}
{% block content %}
<div class="container">
	<div class="row">
        {% for imagen in galeria %}
        <div class="col">
            <h1 class="text-center mt-4 mb-3">Galeria do Site</h1>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top"
                     src="{{ imagen.foto.url }}"
                     alt="{{ imagen.titulo }}">
                <div class="card-body">
                    <h5 class="card-title">{{ imagen.titulo }}-{{ imagen.preco }} </h5>
                    <p class="card-text">{{ imagen.descricao }}</p>
                    <a href="#" class="btn btn-primary">Detalhes</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock content %}